<form action="/caches/deletecacheset" method="POST">
  {{#each userCaches}}
    <div class="ui segment">
      <table class="ui padded very basic celled table">
        <tr>
          <td>
            <div class="ui items">
              <div class="ui item">
                <div class="content">
                  <div class="header">{{name}}</div>
                  <div class="meta">
                    <span class="price"><i class="grey marker icon"></i>{{location}}</span>
                    <span class="stay"><i class="grey user icon"></i>{{user.firstName}} {{user.lastName}}</span>
                  </div>
                  <div class="description">
                    <p style="word-break:break-all;white-space:normal;">{{description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class="collapsing">
            <div class="ui checkbox" id="{{../user.id}}">
              <input type="checkbox" name="{{id}}">
              <label id="{{id}}"></label>
            </div>
          </td>
        </tr>
      </table>
    </div>
  {{/each}}
  <button class="ui mini red icon button" style="float: right;"><i class="trash icon"></i> Delete Selected</button>
</form>
<a class="ui mini red icon button" href="/caches/deleteall" style="float: right;"><i class="trash icon"></i> Delete All</a>